---
import Base from "../layouts/Base.astro";
import Content from "../layouts/Content.astro";
---

<Base title="About">
	<Content title="About" next="/skills">
		<div
			class="mx-auto -mt-16 w-1/2 text-xl text-justify font-['Patrick_Hand'] leading-10"
		>
			<p>
				<span id="scroll"></span><span class="animate-blink">▌</span><span
					id="tip"
					class="italic text-surface2 animate-pulse"
					>Scroll to learn more...</span
				>
			</p>
		</div>
	</Content>
</Base>

<script>
	import "../lib/scroll";
</script>

<style>
	.animate-blink {
		animation: blink 2s linear infinite;
	}

	@keyframes blink {
		0% {
			opacity: 1;
		}

		50% {
			opacity: 0;
		}
	}
</style>
