---
import AwardBanner from "../components/AwardBanner.astro";
import Base from "../layouts/Base.astro";
import Content from "../layouts/Content.astro";
---

<Base title="Awards">
	<Content title="Awards" prev="/skills" next="/projects">
		<div class="w-2/3 mx-auto mb-16 flex-col gap-32" id="fade">
			<AwardBanner
				title="USACO Silver Division"
				href="http://usaco.org"
				year="Current"
			/>
			<AwardBanner
				title="Pullman High School Varsity Tennis"
				href="http://phs.pullmanschools.org"
				year="Current"
			/>
			<AwardBanner
				title="Washington DECA State Career Development Conference Qualifier"
				href="http://wadeca.org/scdc"
				year="2023"
			/>
			<AwardBanner
				title="NAfME All-Northwest Symphony Orchestra"
				href="http://nafmenw.org"
				year="2023"
			/>
			<AwardBanner
				title="Congressional App Challenge WA05 Winner"
				href="https://www.congressionalappchallenge.us/2022-winners/#Washington"
				year="2023"
			/>
			<AwardBanner
				title="Math is Cool Washington Precalculus Masters 5th Place Individual"
				href="http://academicsarecool.com"
				year="2023"
			/>
			<AwardBanner
				title="Math is Cool Precalculus Regional Champion"
				href="http://academicsarecool.com"
				year="2023"
			/>
			<AwardBanner
				title="SkillsUSA Computer Science 1st Place Individual"
				href="https://skillsusa.org"
				year="2022"
			/>
			<AwardBanner
				title="National Cyber Challenge 7th Place Team"
				href="https://cybercraft.cyberfire.training"
				year="2021"
			/>
			<AwardBanner
				title="Math Olympiad Perfect Score"
				href="http://moems.org"
				year="2020"
			/>
			<AwardBanner
				title="Math is Cool Division i Regional Champion"
				href="http://academicsarecool.com"
				year="2019"
			/>
		</div>
	</Content>
</Base>

<script>
	import "../lib/fade";
</script>
