---
import ContactCard from "../components/ContactCard.astro";
import Vignette from "../components/Vignette.astro";
import Base from "../layouts/Base.astro";
---

<Base title="Contact">
	<Vignette />
	<div class="h-screen flex flex-col justify-evenly">
		<h1 class="mx-auto text-center text-6xl select-none neon">Contact</h1>
		<div class="mx-auto mb-16 grid grid-cols-3 gap-32">
			<ContactCard
				icon="github"
				title="GitHub"
				href="https://github.com/mathletedev"
				color="f38ba8"
			/>
			<ContactCard
				icon="youtube"
				title="YouTube"
				href="https://youtube.com/channel/UCOaIT1nP-FhOFlhz2_fzJ1Q"
				color="fab387"
			/>
			<ContactCard
				icon="protonmail"
				title="Email"
				href="mailto:nealwang.sh@pm.me"
				color="f9e2af"
			/>
			<ContactCard
				icon="discord"
				title="Discord"
				href="https://discord.gg/RRfW8FrX3E"
				color="a6e3a1"
			/>
			<ContactCard
				icon="stackoverflow"
				title="Stack Overflow"
				href="https://stackoverflow.com/users/14946864/mathletedev"
				color="89b4fa"
			/>
			<ContactCard
				icon="codeforces"
				title="Codeforces"
				href="https://codeforces.com/profile/mathletedev"
				color="b4befe"
			/>
		</div>
	</div>
</Base>
