---
import ContactCard from "../components/ContactCard.astro";
import Base from "../layouts/Base.astro";
import Content from "../layouts/Content.astro";
---

<Base title="Contact">
	<Content title="Contact" prev="/blog">
		<div class="mx-auto mb-16 grid grid-cols-3 gap-32" id="fade">
			<ContactCard
				icon="github"
				title="GitHub"
				href="https://github.com/mathletedev"
				colour="f38ba8"
			/>
			<ContactCard
				icon="youtube"
				title="YouTube"
				href="https://youtube.com/channel/UCOaIT1nP-FhOFlhz2_fzJ1Q"
				colour="fab387"
			/>
			<ContactCard
				icon="protonmail"
				title="Email"
				href="mailto:nealwang.sh@pm.me"
				colour="f9e2af"
			/>
			<ContactCard
				icon="discord"
				title="Discord"
				href="https://discord.gg/RRfW8FrX3E"
				colour="a6e3a1"
			/>
			<ContactCard
				icon="stackoverflow"
				title="Stack Overflow"
				href="https://stackoverflow.com/users/14946864/mathletedev"
				colour="89b4fa"
			/>
			<ContactCard
				icon="codeforces"
				title="Codeforces"
				href="https://codeforces.com/profile/mathletedev"
				colour="b4befe"
			/>
		</div>
	</Content>
</Base>

<script>
	import "../lib/fade";
</script>
