---
import Matrix from "../components/Matrix.astro";
import NavCard from "../components/NavCard.astro";
import TypistLoop from "../components/TypistLoop";
import Vignette from "../components/Vignette.astro";
import Base from "../layouts/Base.astro";
---

<Base>
	<Matrix />
	<Vignette />
	<div class="h-screen flex flex-col justify-center">
		<h1 class="text-center text-6xl shadow-text select-none neon">WatterTech</h1>
		<TypistLoop
			client:load
			texts={[
				"Tech Startup",
				"Water Conservation",
				"Data Analysis",
				"Artificial Intelligence",
				"Saving the Environment",
			]}
		/>
	</div>
	<div
		class="absolute left-16 bottom-0 h-screen flex flex-col justify-evenly"
		id="fade"
	>
		<NavCard title="Problem" href="/problem" colour="#f38ba8" />
		<NavCard title="Product" href="/product" colour="#fab387" />
		<NavCard title="Advantage" href="/advantage" colour="#f9e2af" />
		<NavCard title="Pricing" href="/pricing" colour="#a6e3a1" />
		<NavCard title="Team" href="/team" colour="#89b4fa" />
	</div>
</Base>

<script>
	import "../lib/fade";
</script>
