---
import Matrix from "../components/Matrix.astro";
import NavCard from "../components/NavCard.astro";
import TypistLoop from "../components/TypistLoop";
import Base from "../layouts/Base.astro";
---

<Base>
	<Matrix />
	<div class="fixed w-screen h-screen" id="vignette"></div>
	<div class="h-screen flex flex-col justify-center">
		<h1 class="text-center text-6xl select-none">Neal Wang</h1>
		<TypistLoop
			client:load
			texts={["Student", "Mathlete", "Violinist", "Programmer", "Arch User"]}
		/>
		<div class="flex">
			<button class="m-auto fill-surface0">
				<svg id="continue" width={30} height={20}>
					<polygon points="0,0 30,0 15,20"></polygon>
				</svg>
			</button>
		</div>
	</div>
	<div class="h-screen flex" id="nav">
		<div class="m-auto grid grid-cols-3 gap-32">
			<NavCard title="About" href="/about" />
			<NavCard title="Skills" href="/skills" />
			<NavCard title="Work" href="/work" />
			<NavCard title="Projects" href="/projects" />
			<NavCard title="Blog" href="/blog" />
			<NavCard title="Contact" href="/blog" />
		</div>
	</div>
</Base>

<script>
	import "../lib/scroll.ts";
</script>

<style>
	#vignette {
		box-shadow: 0 0 200px rgba(0, 0, 0, 0.8) inset;
	}

	#continue {
		transition: transform 0.5s cubic-bezier(0, 0, 0.5, 1);
		animation: blink 3s linear infinite;
		animation-delay: 0.5s;
	}

	#continue:hover {
		transform: scale(1.2);
		cursor: pointer;
		animation: none;
	}

	@keyframes blink {
		50% {
			opacity: 0;
		}
	}
</style>
