---
import Base from "../layouts/Base.astro";
import Content from "../layouts/Content.astro";
---

<Base title="Pricing">
	<Content title="Pricing" prev="/advantage" next="/team">
		<div
			class="mx-auto -mt-16 w-1/2 text-xl text-justify font-['Patrick_Hand'] leading-10"
		>
			<p>
Our product, the WatterBolt, will be sold for just $9.99. This will ensure our financial prosperity while keeping prices low. We estimate that we will be able to break-even in just 18 months if current trends continue.
			</p>
		</div>
	</Content>
</Base>

<style>
	.animate-blink {
		animation: blink 2s linear infinite;
	}

	@keyframes blink {
		0% {
			opacity: 1;
		}

		50% {
			opacity: 0;
		}
	}
</style>
