---
import { SITE_TITLE } from "../config";
import NavLink from "./NavLink.astro";

export interface Props {
	title?: string;
}

const { title = SITE_TITLE } = Astro.props as Props;
---

<header>
	<h1 class="text-lg">{title}</h1>
	<nav>
		<NavLink href="/">Home</NavLink>
		<NavLink href="/blog">Blog</NavLink>
		<NavLink href="https://github.com/mathletedev" target="_blank">
			GitHub
		</NavLink>
		<NavLink href="https://youtube.com/mathletedev" target="_blank">
			YouTube
		</NavLink>
	</nav>
</header>
