---
export interface Props {
	title: string;
	href: string;
	colour: string;
}

const { title, href, colour } = Astro.props as Props;
---

<a class="opacity-0 transition-opacity duration-1000" href={href}>
	<div class="w-32 h-16" id="flip">
		<div class="w-full h-full text-center" id="inner">
			<div class="flex rounded-lg bg-surface0 bg-opacity-40" id="front">
				<h2 class="m-auto text-2xl neon" style={{ colour }}>{title}</h2>
			</div>
			<div class="flex rounded-lg bg-surface0 bg-opacity-40" id="back">
				<h2 class="m-auto text-2xl neon" style={{ colour }}>{title}</h2>
			</div>
		</div>
	</div>
</a>

<style>
	#flip {
		perspective: 1000px;
	}

	#inner {
		transition: transform 0.8s;
		transform-style: preserve-3d;
	}

	#flip:hover #inner {
		transform: rotateY(180deg);
	}

	#front,
	#back {
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
	}

	#front {
		transform: rotateY(360deg);
	}

	#back {
		transform: rotateY(180deg);
	}
</style>
