---
export interface Props {
	href: string;
	back?: boolean;
}

const { href, back } = Astro.props as Props;
---

<div class={`fixed ${back ? "left-24" : "right-24"} h-screen flex`}>
	<a class="my-auto" href={href}>
		<svg class="fill-lavender opacity-10 animate-pulse" width={25} height={50}>
			<polygon points={back ? "25,0 25,50 0,25" : "0,0 0,50 25,25"}></polygon>
		</svg>
	</a>
</div>
