---
import "../assets/globals.css";

import Head from "../components/Head.astro";
import { SITE_TITLE } from "../config";

export interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<Head
			title={title ? `${title} • ${SITE_TITLE}` : undefined}
			description={description}
		/>
	</head>
	<body>
		<main><slot /></main>
	</body>
</html>
