---
import PageNav from "../components/PageNav.astro";
import Vignette from "../components/Vignette.astro";

export interface Props {
	title: string;
	prev?: string;
	next?: string;
}

const { title, prev, next } = Astro.props as Props;
---

<>
	<Vignette />
	<div class="h-screen flex flex-col justify-evenly">
		<h1
			class="mx-auto w-min text-center text-6xl select-none animate-bounce neon"
		>
			<a href="/">
				{title}
			</a>
		</h1>
		{prev && <PageNav href={prev} back />}
		{next && <PageNav href={next} />}
		<slot />
	</div>
</>
